nav {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
  margin: 5px;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.menu li {
  padding: 0 15px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-texto);
}

.open-menu,
.close-menu {
  display: none;
}

@media (max-width: 950px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 50px;
    width: 50px;
    margin: 5px;
  }

  .logo div {
    line-height: 150%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    align-items: center;
    background-color: var(--color-tema-secundario);
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .menu li {
    padding: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-texto);
    line-height: 50px;
  }

  button img {
    height: 20px;
    width: 20px;
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
  }

  .close-menu {
    align-self: flex-end;
    padding: 18px 8px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
}
