html {
  --color-tema: rgb(217, 208, 222);
  --color-tema-secundario: rgb(160, 70, 104);
  --color-texto: rgb(0, 0, 0);
  --color-texto-secundario: rgb(255, 255, 255);
  --sombra-nav: rgb(12, 23, 19);
  --color-cuadros: rgb(188, 141, 160);
}
.top-header {
  position: fixed;
  box-shadow: 0 4px 5px var(--sombra-nav);
  background-color: var(--color-tema-secundario);
  left: 0%;
  top: 0%;
  width: 100%;
}

section[id] {
  scroll-margin-top: 70px;
}

body {
  font-family: "Bruno Ace SC", cursive;
  background-color: var(--color-tema);
  color: var(--color-texto);
  padding-top: 70px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.contenedor {
  background-color: var(--color-cuadros);
  margin: 40px;
  box-shadow: 0 4px 5px var(--sombra-nav);
}

h2 {
  text-align: center;
  padding-top: 50px;
}
