html {
  --color-tema: rgb(190, 117, 190);
  --color-tema-secundario: rgb(255, 105, 255);
  --color-texto: rgb(0, 0, 0);
  --sombra-nav: rgb(0, 0, 0);
}
.top-header {
  position: fixed;
  box-shadow: 0 4px 5px var(--sombra-nav);
  background-color: var(--color-tema-secundario);
  left: 0%;
  top: 0%;
  width: 100%;
}

body {
  font-family: "Bruno Ace SC", cursive;
  background-color: var(--color-tema);
  color: var(--color-texto);
  padding-top: 70px;
}

.card {
  margin: 10px;
}
